# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
candid
canister_ids.json

# frontend code
node_modules/
out/

# Next.js
.next/

# Rust build artifacts
target/

.env
src/
declarations/
frontend/declarations/
wasm/
