.container {
    min-height: 100vh;
    padding: 0 0.5rem;
}

.main {
    padding: 1rem 0;
    overflow-x: hidden;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
}

.logo {
    width: 140px;
}